<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body {{ if .IsHome }} {{ else }} style="margin: unset; padding: unset; display: unset;" {{ end }}>

{{ if .IsHome }}
<div id="curtain" class="draggable-curtain">
    <div id="inner-curtain">
        <div id="welcome-text">
            <p>theatrebuilding.com is a theatre without walls.</p>
            <p>theatrebuilding.com is building theatre.</p>        
            <p>theatrebuilding.com is a non-physical space where we rewrite daily scripts and disrupt patterns inside and outside of us by performing our roles in unexpected ways.</p>        
            <p>theatrebuilding.com is the theatre inside of us and the buildings that we are.</p>       
            <p>theatrebuilding.com is my digital body, running from the corporate internet, running from multinational data salesmen.</p>       
            <p>as I let go of the data that I already gave, as I accept the current algorithmic patterns of my neuronal network, I reach the foyer of theatrebuilding.com, owned by us.</p>       
            <p>from a multinational unorganized worker industry to a global village of actors. surfing sound waves. owning our actions.</p>       
            <p>for whom are we performing?</p>      
            <p>we don’t need high speed wifi, we don’t need more phones. we need sustainability, justice and respect for life.</p>
            <p>we use the lowest possible amount of data and work with and in the service of broken equipment.</p>        
            <p>theatrebuilding.com is a decentralized performance laboratory.</p>        
            <p>transforming the internet into a stage that challenges hegemonic structures.</p>        
            <p>reaching out to each other, improvising as we go.</p>        
            <p>what percentage actor and what percentage spectator am I?</p>        
            <p>we build on the concept of the spectactor from theatre of the oppressed.</p>       
            <p>spectating is not an innocent act and acting is not the only way to interfere.</p>
            <p>send us an <a href="mailto:theatrebuilding@theatrebuilding.com">email</a> or come to <a target="_blank" href="https://app.console.xyz/c/theatrebuilding">Console</a> to join our conversation.</p>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}

{{ partial "header.html" . }}

<main class="container">
    {{ block "main" . }}{{ end }}
</main>

{{ if .IsHome }}
    {{ $jsFiles := resources.Match "jshomepage/*.js" }}
    {{ $combinedMinJs := $jsFiles | resources.Concat "js/combinedHome.min.js" | js.Build (dict "target" "es2015" "minify" true "sourcemaps" false) }}
    {{ $combinedJs := $jsFiles | resources.Concat "js/combinedHome.js" | js.Build (dict "target" "es2015") }}
        {{ if .Site.IsServer }}
            <script src="{{ $combinedJs.RelPermalink }}"></script>
        {{ else }}
            <script src="{{ $combinedMinJs.RelPermalink }}" integrity="{{ $combinedMinJs.Data.Integrity }}"></script>
        {{ end }}
{{ else }}
    {{ $jsFiles := resources.Match "jsnode/*.js" }}
    {{ $combinedMinJs := $jsFiles | resources.Concat "js/combinedNode.min.js" | js.Build (dict "target" "es2015" "minify" true "sourcemaps" false) }}
    {{ $combinedJs := $jsFiles | resources.Concat "js/combinedNode.js" | js.Build (dict "target" "es2015") }}
        {{ if .Site.IsServer }}
            <script src="{{ $combinedJs.RelPermalink }}"></script>
        {{ else }}
            <script src="{{ $combinedMinJs.RelPermalink }}" integrity="{{ $combinedMinJs.Data.Integrity }}"></script>
        {{ end }}
{{ end }}

</body>
</html>
