<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
</head>
<body style="margin: unset; padding: unset; display: unset;">

{{ partial "header.html" . }}

<main class="container">
    {{ block "main" . }}{{ end }}
</main>

{{ if .IsHome }}
    {{ partial "footer.html" . }}
{{ end }}

{{ if .IsHome }}
    {{ $jsFiles := resources.Match "jshomepage/*.js" }}
    {{ $combinedMinJs := $jsFiles | resources.Concat "js/combinedHome.min.js" | js.Build (dict "target" "es2015" "minify" true "sourcemaps" false) }}
    {{ $combinedJs := $jsFiles | resources.Concat "js/combinedHome.js" | js.Build (dict "target" "es2015") }}
        {{ if .Site.IsServer }}
            <script src="{{ $combinedJs.RelPermalink }}"></script>
        {{ else }}
            <script src="{{ $combinedMinJs.RelPermalink }}" integrity="{{ $combinedMinJs.Data.Integrity }}"></script>
        {{ end }}
{{ else }}
    {{ $jsFiles := resources.Match "jsnode/*.js" }}
    {{ $combinedMinJs := $jsFiles | resources.Concat "js/combinedNode.min.js" | js.Build (dict "target" "es2015" "minify" true "sourcemaps" false) }}
    {{ $combinedJs := $jsFiles | resources.Concat "js/combinedNode.js" | js.Build (dict "target" "es2015") }}
        {{ if .Site.IsServer }}
            <script src="{{ $combinedJs.RelPermalink }}"></script>
        {{ else }}
            <script src="{{ $combinedMinJs.RelPermalink }}" integrity="{{ $combinedMinJs.Data.Integrity }}"></script>
        {{ end }}
{{ end }}

</body>
</html>
