{{ define "main" }}
<div class="grid-container" id="grid-container">
  <div class="octagon-grid" id="octagon-grid">
    {{ range where site.RegularPages "Section" "events" }}
    <a href="{{ .Permalink }}">
      <div class="octagon">
        {{ partial "octagon.svg" . }}
        <div class="octagon-content">
          <h2 class="octagon-title">{{ .Title }}</h2>
          <p class="octagon-info">{{ .Params.location }}</p>
          <p class="octagon-info">{{ if .Params.altDate }} {{ .Params.altDate }} {{else}} {{ .Date.Format "January 2, 2006" }} {{end}}  </p>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</div>

{{ $jsFiles := resources.Match "js/*.js" }}
{{ $combinedMinJs := $jsFiles | resources.Concat "js/combined.min.js" | js.Build (dict "target" "es2015" "minify" true "sourcemaps" false) }}
{{ $combinedJs := $jsFiles | resources.Concat "js/combined.js" | js.Build (dict "target" "es2015") }}



{{ if .IsHome }}

{{ if .Site.IsServer }}
<script src="{{ $combinedJs.RelPermalink }}" integrity="{{ $combinedJs.Data.Integrity }}"></script>
{{ else }}
<script src="{{ $combinedMinJs.RelPermalink }}" integrity="{{ $combinedMinJs.Data.Integrity }}"></script>
{{ end }}


{{ end }}

{{ end }}