{{ define "main" }}
<div class="grid-container" id="grid-container">
  <div class="octagon-grid" id="octagon-grid">
    {{ range where site.RegularPages "Section" "events" }}
    <a href="{{ .Permalink }}">
      <div class="octagon">
        {{ partial "octagon.svg" . }}
        <div class="octagon-content">
          <h2 class="octagon-title">{{ .Title }}</h2>
          <p>{{ .Params.location }}</p>
          <p class="octagon-date">{{ if .Params.altDate }} {{ .Params.altDate }} {{else}} {{ .Date.Format "January 2, 2006" }} {{end}}  </p>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</div>


</div>

{{ end }}