{{ define "main" }}
<div class="grid-container" id="grid-container">
  <div class="empty-grid"></div>
  <div class="empty-grid"></div>
  <div class="empty-grid"></div>
  <div class="empty-grid"></div>
  <div class="octagon-grid" id="octagon-grid">
    {{ range .Pages }}
      <div class="octagon">
        {{ partial "octagon.svg" . }}
        <div class="octagon-content">
          <h2 class="octagon-title">{{ .Title }}</h2>
          <p class="octagon-date">{{ .Date.Format "January 2, 2006" }}</p>
        </div>
      </div>
    {{ end }}
  </div>
  <div class="empty-grid"></div>
  <div class="empty-grid"></div>
  <div class="empty-grid"></div>
  <div class="empty-grid"></div>
</div>


</div>

{{ end }}