<p class="curtain-statement">theatrebuilding.com is a theatre without walls.</p>
<p class="curtain-statement">theatrebuilding.com is building theatre.</p>        
<p class="curtain-statement">theatrebuilding.com is a non-physical space where we rewrite daily scripts and disrupt patterns inside and outside of us by performing our roles in unexpected ways.</p>        
<p class="curtain-statement">theatrebuilding.com is the theatre inside of us and the buildings that we are.</p>       
<p class="curtain-statement">theatrebuilding.com is my digital body, running from the corporate internet, running from multinational data salesmen.</p>       
<p class="curtain-statement">as I let go of the data that I already gave, as I accept the current algorithmic patterns of my neuronal network, I reach the foyer of theatrebuilding.com, owned by us.</p>       
<p class="curtain-statement">from a multinational unorganized worker industry to a global village of actors. surfing sound waves. owning our actions.</p>       
<p class="curtain-statement">for whom are we performing?</p>      
<p class="curtain-statement">we don’t need high speed wifi, we don’t need more phones. we need sustainability, justice and respect for life.</p>
<p class="curtain-statement">we use the lowest possible amount of data.</p>
<p class="curtain-statement">we work with and in the service of broken equipment.</p>     
<p class="curtain-statement">theatrebuilding.com is a decentralized performance laboratory.</p>        
<p class="curtain-statement">transforming the internet into a stage that challenges hegemonic structures.</p>        
<p class="curtain-statement">reaching out to each other, improvising as we go.</p>        
<p class="curtain-statement">what percentage actor and what percentage spectator am I?</p>        
<p class="curtain-statement">we build on the concept of the spectactor from theatre of the oppressed.</p>       
<p class="curtain-statement">spectating is not an innocent act and acting is not the only way to interfere.</p>
<p class="curtain-statement highlighted-curtain-info">send us an <a href="mailto:theatrebuilding@theatrebuilding.com">email</a> or come to <a target="_blank" href="https://app.console.xyz/c/theatrebuilding">Console</a> to join our conversation.</p>