<div id="footer" style="position:fixed; width: 100%; display: flex; align-content: center; align-items: center; justify-content: space-between; bottom:0px;left:0;height:200px; background-color: none; padding-right: 25px;">
    <div><a href="https://www.kunst.dk/english/"><img style="height: 200px; cursor: pointer;" src="/SKF_stempel_blue_RGB.png" alt=""></a></div>
    <div style="margin-top: 60px;"><a target="_blank" style="color: blue; cursor: pointer; text-decoration: underline;" href="https://app.console.xyz/c/theatrebuilding"><img style="max-width: 200px;" src="/console.png" alt="">Join our conversation</a></div>
</div>

<script>

</script>