<div id="footer">

    <div id="burger-menu">
        <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
    </div>
    
    <div><a href="https://www.kunst.dk/english/"><img style="height: 85px; cursor: pointer;" src="/SKF_logo_ENG_black_RGB.png" alt=""></a></div>


    <div><a target="_blank" href="https://app.console.xyz/c/theatrebuilding"><img style="max-width: 100px;" src="/console.png" alt=""></a><a id="join-console-text" target="_blank" style="color: black; cursor: pointer; text-decoration: underline;" href="https://app.console.xyz/c/theatrebuilding">Join our conversation</a></div>
        
    <div id="footer-arrow" style="position: absolute; left: 50%; bottom: 4px;">
        <svg style="left: -10px;" fill="#000000" height="20px" width="20px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 425 425" xml:space="preserve">
          <g>
            <polygon points="212.5,0 19.371,192.5 405.629,192.5"/>
            <polygon points="212.5,425 405.629,232.5 19.371,232.5"/>
          </g>
        </svg>
      </div>
      
</div>

<script>

</script>