<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Site.Title }}</title>

<script type="text/javascript">
  // Function to add a meta tag to the page
  function addNoIndexMetaTag() {
    var meta = document.createElement('meta');
    meta.name = "robots";
    meta.content = "noindex, nofollow";
    document.getElementsByTagName('head')[0].appendChild(meta);
  }

  // Check if the URL starts with the subdomain for future
  if (window.location.href.indexOf("https://future.") === 0) {
    addNoIndexMetaTag(); // Add the meta tag to the page
    // Password protection
    var password = prompt('Please enter the password to view this page:', '');
    var correctPassword = 'futureperformances!';

    if (password !== correctPassword) {
        alert('You entered the wrong password and will be redirected to the public version of the page.')
        window.location.href = 'https://theatrebuilding.com/'; // Redirect to public page if the password is incorrect
    }
  }
</script>



{{ $styles := resources.Get "css/main.scss" | toCSS | postCSS (dict "config" "postcss.config.js") }}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ end }}





<style type="text/css" id="custom-styles"></style>
