<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} | {{ .Site.Title }} {{ end }}</title>
<meta name="description" content="{{ if .IsHome }} {{ .Site.Params.description }} {{ else }} {{ with .Params.description }} {{ . }} {{ end }} {{ end }}">


<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

{{ partial "head-social.html" .}}
{{ partial "head-structured-data.html" .}}

{{ if .IsHome }} {{ else }}<style type="text/css" id="custom-styles"></style>{{ end }}

{{ $styles := resources.Get "css/main.scss" | toCSS | postCSS (dict "config" "postcss.config.js") }}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ end }}


