<div id="header-container" style="background-color: transparent;">
{{ if .IsHome }}

{{ else }}
    
        <div id="octaMenu" style="  height: 3.5rem; width: 3.5rem; transition: 1s all; display: flex; background-color: transparent;">
            <a href="{{ .Site.BaseURL }}">
            <svg style="width: 100%; height: 100%; transition: 1s all; background-color: transparent;" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="-1 -0.5 102 101">
                <polygon points="30,0 70,0 100,30 100,70 70,100 30,100 0,70 0,30" fill="white" stroke="black" stroke-width="2"/>
            </svg>
        </a>
        </div>
    
{{ end }}
</div>

